
//shaping and positioning
//colors
//text

//fonts

@font-face {
    font-family: 'announcement_bar-font';
    src: url(../links/fonts/cocogoose/Pro-Semilight-trial.ttf);
}
$announcement_bar-font: 'announcement_bar-font';

//pink colors

$pink-color-light: #F9ECF0;

//yellow colors

$yellow-color-main: #F3CA40;
