//important imports
@import 'Schemes';

.about-me_wrapper{
  transform: translateY(9.4rem);
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  &__inner{
    border-radius: 1.4rem;
    padding: 1.4rem;
    width: 80%;
    background-color: $blue-color-main;
    h2{
      padding-bottom: 2rem;
      font-size: 220%;
      margin: 0;
      font-family: $basic-font;
      color: white;
    }
    p{
      font-size: 180%;
      margin: 0;
      font-family: $basic-font;
      color: white;
    }
  }
}