//important imports
@import 'Schemes';

.about-me_wrapper{
  transform: translateY(9.4rem);
  width: 100%;
  margin: 7vw 0;
  display: flex;
  justify-content: center;
  &__inner{
    border-radius: 1.4rem;
    padding: 1.4rem;
    width: 80%;
    background-color: $blue-color-main;
    h2{
      padding-bottom: 2rem;
      font-size: 3vw;
      margin: 0;
      font-family: $basic-font;
      color: white;
    }
    &__textholder{
      p{
        font-size: 2vw;
        margin: 0;
        font-family: $basic-font;
        color: white;
      }
      img{
        transform: translate(3vh,7vw);
        display: block;
        float: right;
        border-radius: 1.4rem;
        width: 40%;
      }
    }
  }
}