@import 'Schemes';

.ann_bar{
    //shaping and positioning
    padding: .7rem 0;
    overflow: hidden;
    transition: .3s;
    position: fixed;
    width: 100%;
    z-index: 5;

    //layout
    background-color: $yellow-color-main;

    //text

    &__content{
        //shaping and positioning
        margin: 0;

        //layout
        font-family: $basic-font;
        color: black;
        font-size: .8rem;
        
        //text
        text-align: center;
    }
}
