//important imports
@import 'Schemes';

//start scss
.category-wrapper{
    //shaping and positioning
    transform: translateY(9.4rem);
    max-width: $use-max-width;
    margin: 7vw auto 0 auto;
    //layout
    padding: 0 5rem;
    //text
    .title-wrapper{
        //shaping and positioning
        position: relative;
        height: auto;
        //layout
        //text
        .title{
            //shaping and positioning
            height: 2rem;
            //layout
            display: flex;
            flex-direction: column;
            align-items: center;
            //text
            @media (min-width: $small-screen) {
                //shaping and positioning
                //layout
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                //text
            }
            &__left{
                //shaping and positioning
                //layout
                //text
                font-family: $basic-font;
                line-height: 2rem;
                font-size: 2rem;
                color: black;
                text-align: center;
                @media (min-width: $small-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1.2rem;
                }
                @media (min-width: $medium-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1.2rem;
                }
                @media (min-width: $large-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1.5rem;
                }
            }
            a{
                //shaping and positioning
                position: relative;
                //layout
                //text
                text-decoration: none;
                font-family: $basic-font;
                color: $red-color-main;
                line-height: 2rem;
                font-size: .9rem;
            }
            &__right{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 1rem;
                @media (min-width: $small-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1.3rem;
                }
                @media (min-width: $medium-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1rem;
                }
                @media (min-width: $large-screen) {
                    //shaping and positioning
                    //layout
                    //text
                    font-size: 1.2rem;
                }
            }
            &__right:hover{
                *{
                    //shaping and positioning
                    transform: translateX(20%);
                    //layout
                    transition: .4s;
                    //text
                }
            }
        }
    }
    &__block-grid{
        //shaping and positioning
        grid-template-columns: 100%;
        position: relative;
        column-gap: 5%;
        display: grid;
        padding-top: 2rem;
        //layout
        //text
        @media (min-width: 360px) {
            //shaping and positioning
            padding-top: 0rem;
            //layout
            //text
        }
        @media (min-width: $small-screen) {
            //shaping and positioning
            //layout
            //text
            grid-template-columns: 47.5% 47.5%;
        }
        @media (min-width: $medium-screen) {
            //shaping and positioning
            //layout
            //text
            grid-template-columns: 30% 30% 30%;
        }
        .block{
            &__image{
                //shaping and positioning
                aspect-ratio: 1 / 1;
                //layout
                overflow: hidden;
                //text
                img{
                    //shaping and positioning
                    width: 100%;
                    //layout
                    filter: brightness(80%);
                    transition: .5s;
                    border-radius: 7%;
                    //text
                }
            }
            &__image:hover{
                img{
                    //shaping and positioning
                    //layout
                    filter: brightness(100%);
                    transition: .5s;
                    scale: 1.05;
                    //text
                }
            }
            &__title{
                h3{
                    //shaping and positioning
                    //layout
                    transform: translateX(2%);
                    //text
                    font-family: $basic-font;
                    font-size: 1.2rem;
                    @media (min-width: $medium-screen) {
                        //shaping and positioning
                        //layout
                        //text
                        font-size: 1.2rem;
                    }
                    @media (min-width: $large-screen) {
                        //shaping and positioning
                        //layout
                        //text
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}