@import 'Schemes';

.red-arrow{
  //shaping and positioning
  clip-path: polygon(50% 10%, 62% 1%, 100% 50%, 61% 99%, 50% 90%, 77% 57%, 0 57%, 0 43%, 77% 43%);
  background-color: $red-color-main;
  width: 1rem;
  height: .8rem;
  //layout
  transition: .6s;
  //text
  @media (min-width: $medium-screen) {
    //shaping and positioning
    //layout
    //text
    width: 1.2rem;
    height: 1rem;
  }
}

.black-arrow{
  //shaping and positioning
  clip-path: polygon(50% 10%, 62% 1%, 100% 50%, 61% 99%, 50% 90%, 77% 57%, 0 57%, 0 43%, 77% 43%);
  background-color: black;
  width: 1rem;
  height: .8rem;
  //layout
  transition: .6s;
  //text
  @media (min-width: $medium-screen) {
      //shaping and positioning
      //layout
      //text
      width: 1.2rem;
      height: 1rem;
  }
}