
//shaping and positioning
//layout
//text

//vw ratio's
$vw-large-desktop: 1800px;
$vw-desktop: 1000px;
$vw-tablet: 600px;

//fonts

@font-face {
    src: url('/public/fonts/Phenomena-Regular.ttf');
    font-family: 'basic-font';
}
$basic-font: 'basic-font';

//pink colors
$pink-color-light: #F9ECF0;

//yellow colors
$yellow-color-main: #F3CA40;

//blue colors
$blue-color-main: #32B2E8;
$blue-color-dark: #006F9E;
